<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">First Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="speaker.first_name"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input
          class="form-control"
          id="last_name"
          required
          [(ngModel)]="speaker.last_name"
          name="last_name"
        />
      </div>

      <div class="form-group">
        <label for="specialization">Specialization</label>
        <input
          class="form-control"
          id="specialization"
          required
          [(ngModel)]="speaker.specialization"
          name="specialization"
        />
      </div>

      <div class="form-group">
        <label for="bio">Biography</label>
        <input
          class="form-control"
          id="bio"
          required
          [(ngModel)]="speaker.bio"
          name="bio"
        />
      </div>
      <button (click)="saveSpeaker()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Speaker was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newSpeaker()">Add Speaker</button>
    </div>
  </div>
</div>
